@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;700&family=Inter:wght@400;500;700&family=Manrope:wght@700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&display=swap");

:root {
  /* Colors */
  --black: #000;
  --orange: #fc621c;
  --transwhite: rgba(255, 255, 255, 0.14);

  /* Images */
  --logo: url(/image/header/logo.png);
  --bia-top-right: url(/image/best-in-auto/top-right.png);
  --bia-bot-left: url(/image/best-in-auto/bot-left.png);
}

body {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration-line: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

/* Header */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.navigation__logo {
  width: 10.1875rem;
  height: 2.375rem;
  background: var(--logo) no-repeat 100%;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.navigation__login {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--black);
  border-radius: 5px;
}

/* Best In Auto */

.best-in-auto {
  display: flex;
  flex-direction: column;
  font-family: "Abril Fatface", sans-serif;
  font-weight: 400;
  font-size: 70px;
}

.best-in-auto__white {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 2rem;
}

.best-in-auto__first-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.best-in-auto__title {
  display: flex;
  flex-direction: column;
  min-width: 56.25rem;
  margin-top: 1.5rem;
}

.best-in-auto__rental {
  align-self: flex-end;
}

.best-in-auto__top-right-pict {
  width: 575px;
  height: 405px;
  background: var(--bia-top-right) no-repeat;
}

.best-in-auto__second-row {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.best-in-auto__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 43rem;
}

.best-in-auto__orange {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-color: var(--orange);
  height: 11.5rem;
  gap: 15rem;
}

.best-in-auto__bot-left-pict {
  width: 640px;
  height: 405px;
  background: var(--bia-bot-left) no-repeat;
  margin: 0 0 4rem 5rem;
}

.best-in-auto__why-choose {
  color: var(--transwhite);
}
