@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;700&family=Inter:wght@400;500;700&family=Manrope:wght@700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&display=swap");

:root {
  /* Colors */
  --black: #000;
  --orange: #fc621c;

  /* Images */
  --logo: url(/image/header/logo.png);
  --bia-top-right: url(/image/best-in-auto/top-right.png);
  --bia-bot-left: url(/image/best-in-auto/bot-left.png);
}

body {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration-line: none;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Header */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.navigation__logo {
  width: 10.1875rem;
  height: 2.375rem;
  background: var(--logo) no-repeat 100%;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.navigation__login {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--black);
  border-radius: 5px;
}

/* Best In Auto */

.best-in-auto {
  padding: 2rem 5rem 0;
  margin-top: 5.5rem;
  background: var(--bia-top-right) top right no-repeat,
    var(--bia-bot-left) bottom left no-repeat;
  background-size: 40%;
}

.best-in-auto__white {
  height: 36.25rem;
  font-family: "Abril Fatface", sans-serif;
  font-weight: 400;
  font-size: 70px;
}

.best-in-auto__rental {
  padding-left: 12rem;
}

.best-in-auto__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 43rem;
  padding: 14rem 0 0 45%;
}

.best-in-auto__orange {
  height: 11.5rem;
}
